/* ---------------------------------------General------------------------------------ */
body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1.1rem;
}

hr {
  border: 1px solid #e6e6e6;
  padding: 0;
  margin: 0;
}

/* ----------------------------------Colored Sections-------------------------------- */
.dark-section {
  background-color: #185b86;
}

.light-section {
  background-color: #4b8ab1;
}

.dark-section,
.light-section {
  padding: 3% 3% 3%;
}

/*----------------------------------- Navigation Bar---------------------------------- */
.navigation {
  background-color: #185b86;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.large-p {
  font-size: 3.2rem;
}

.navbar-brand {
  font-family: "Crimson Pro", serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0 0 12px 5px;
}

.nav-item {
  padding: 0 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  transition: all 200ms ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
}

/* ----------------------------------------About------------------------------------- */
.about-img-div {
  margin: auto 0;
  text-align: center;
}

.about-img {
  border: solid 2px white;
  border-radius: 100%;
  box-shadow: 1px 1px 12px #6e6e6e;
  margin-left: 5%;
  position: relative;
  width: 275px;
}

.about-text {
  margin: auto 0;
  text-align: left;
}

.about-text p {
  font-size: 1rem;
  text-align: left;
}

/* -------------------------------------Services------------------------------------- */
#services {
  position: relative;
}

.service-row {
  margin-bottom: 30px;
}

.service {
  padding: 50px 35px;
}

.service-text h3 {
  font-size: 1.5rem;
  margin: 0;
}

.service-text {
  text-align: center;
  margin: auto 0;
}

.service-img-div {
  margin: auto;
}

.service-img {
  display: block;
  border-radius: 100%;
  border: solid 2px #ffffff;
  box-shadow: 1px 1px 12px rgb(40, 40, 40);
  margin: auto;
  padding: 0;
  width: 130px;
}

/* --------------------------------------Costs-------------------------------------- */
#costs {
  text-align: center;
}

#costs h1 {
  font-size: 2.5rem;
}

/* -------------------------------------Courses------------------------------------- */
#courses {
  position: relative;
  text-align: left;
}

.course {
  padding: 30px 35px;
}

.course-title {
  font-size: 2.4rem;
  text-align: left;
}

.course ul {
  font-size: 1.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* -------------------------------------Reviews-------------------------------------- */
#reviews {
  height: 460px;
  padding: auto 5%;
  text-align: center;
}

.review-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 12%;
}

.review-img {
  border: solid 1px #ffffff;
  border-radius: 100%;
  margin: 30px;
  width: 150px;
}

.short-review {
  padding-top: 100px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 360px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 50px;
}

/* -------------------------------------Contact-------------------------------------- */
#contact {
  padding: 3% 6% 3%;
}

.contact-img-div {
  text-align: right;
  margin: auto 0;
}

.contact-img {
  border: solid 2px #ffffff;
  border-radius: 100%;
  box-shadow: 1px 1px 12px #6e6e6e;
  margin-bottom: 15px;
  position: relative;
  width: 275px;
}

.contact-text {
  font-weight: 400;
  padding: 0 120px 0 30px;
  margin: auto 0;
}

.fas {
  color: #ffffff;
  font-size: 1.5rem;
}

.contact-link {
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: underline;
}

/* -------------------------------------Footer-------------------------------------- */
.footer {
  color: #000000;
  padding: 5px;
  text-align: right;
}

.footer p {
  margin: 0;
}

/* ------------------------------------M Query 750max-------------------------------------- */
@media (max-width: 715px) {
  h5 {
    font-size: 0.8rem;
    text-align: center;
  }

  .navbar-brand {
    padding: 0 0 10px 5px;
    font-size: 1.5rem;
  }

  .large-p {
    font-size: 2.7rem;
  }

  .dark-section,
  .light-section {
    padding: 5%;
  }

  /* ---------------------------------------About---------------------------------------- */
  .about-img {
    position: static;
    width: 200px;
    margin: 0;
  }

  .about-img-div {
    padding: 5px 0 20px;
  }

  /* ------------------------------------Services---------------------------------------- */
  .service-img-div {
    padding: 0 0 40px 0;
  }

  /* -------------------------------------Reviews---------------------------------------- */
  #reviews {
    padding: auto 5%;
    height: auto;
  }

  .review-text {
    font-size: 1.2rem;
  }

  .review-img {
    width: 100px;
  }

  .short-review {
    padding-top: 0;
  }

  .long-review {
    font-size: 1rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    height: auto;
  }

  .carousel-control-prev {
    padding-right: 30px;
  }

  .carousel-control-next {
    padding-left: 30px;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 20px;
    height: 30px;
  }

  /* ----------------------------------------Courses------------------------------------- */
  #courses {
    position: relative;
    text-align: center;
  }

  /* ---------------------------------------Contact--------------------------------------- */
  #contact {
    text-align: center;
  }

  .contact-img-div {
    text-align: center;
  }

  .contact-img {
    position: static;
    width: 175px;
  }

  .contact-text {
    padding: 0;
  }

  .contact-info p {
    font-size: 1rem;
    padding: 0;
  }
}

/* ------------------------------------M Query 1350max-------------------------------------- */
@media (max-width: 1350px) {
  .dark-section,
  .light-section {
    padding: 3%;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .large-p {
    font-size: 2.6rem;
  }

  .nav-item {
    padding: 0 2px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.85rem;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    font-size: 0.9rem;
  }

  /* ---------------------------------------Services------------------------------------------ */
  .service {
    padding: 0 3%;
    margin: 0;
  }
  .service-text {
    margin-bottom: 20px;
  }

  /* ----------------------------------------Courses------------------------------------------ */
  .course {
    padding: 30px 10px;
  }

  /* ----------------------------------------Reviews------------------------------------------ */
  #reviews {
    padding: 25px 0;
  }
}
